{% extends "base.html" %}
{% block content %}
    <h1>Welcome</h1>
    {% if name %}
        <h1>Hello {{ name }}!</h1>
    {% endif %}
    {% if mess %}
        <h1>{{ mess }}</h1>
    {% endif %}
    {% if provs %}
        <a>Please select the province you are currently traveling (or will be traveling) from the list below.</a><br><br>
        {% for prov in provs %}
            <a href="/provinces/{{ prov['entiteitnummer'] }}/lines">{{ prov['omschrijving'] }}</a> <br>
        {% endfor %}
    {% endif %}
{% endblock %}