{% extends "base.html" %}
{% block content %}
    <h1>Select your line</h1><br>
    <a>Please select the line you are currently traveling (or will be traveling) from the list below.</a><br><br>
    {% if lines %}
        <form>
            <label for="lijnen">Available lines (scroll for more)</label>
            <div style="overflow-y: scroll; height:500px;">
                {% for lijn in lines %}
                    {{ lijn.lijnnummer }} {{ lijn.omschrijving }}<a href="/timetable/{{ prov }}/{{ lijn.lijnnummer }}/to">To direction</a> &emsp; <a href="/timetable/{{ prov }}/{{ lijn.lijnnummer }}/from">From direction</a><br>
                {% endfor %}
            </div>
        </form>
    {% else %}
        <h1>Oops, something went wrong</h1>
    {% endif %}
{% endblock %}
