{% extends "base.html" %}
{% block content %}
    {% if times %}
        <div class="row">
            <div class="col" style="overflow-y: scroll; height:600px;">
                {% for time in times %}
                    {#            {{ time }}<br>#}
                    Name: {{ time.name }}<br>
                    Weather: {{ time.temp }}°C, {{ time.weather }}<br>
                    Passings: {{ time.time }}<br>
                    {#                    Route coords: ({{ time.route[0][0] }}, {{ time.route[0][1] }})<br>#}
                    {#            Route: {{ time.route }}#}
                    <hr class="sidebar-divider">
                {% endfor %}
            </div>

            <div class="col">
                <div id='map' style='width: 600px; height: 500px;'></div>
                <script>

                    var vehicle_icon = L.icon({
                        iconUrl: 'static/img/vehicle.ico',
                        iconSize: [25, 25]
                    });

                    var map = L.map('map', {
                        center: [{{ times[0].lati }}, {{ times[0].longi }}],
                        zoom: 15
                    });

                    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    function centerMap(lat, lon) {
                        L.map.center = [lat, lon];
                        L.map.zoom = 15;
                    };

                    var vehicle_layer = L.layerGroup();

                    var markers = {};
                    var count = 0;
                    var vCount = 0;
                    {% for time in times %}
                        // count ++;
                        if (vCount < {{ time.time|length }}) {
                            vCount = {{ time.time|length }};
                        }
                        markers[count] = L.marker([{{ time.lati }}, {{ time.longi }}]).addTo(map);
                        markers[count].bindPopup("<b>{{time.name}}</b><br>{{ time.time }}<br>" +
                            "{{ time.weather }}<br>{{ time.temp }} °C").openPopup();
                        count++;
                    {% endfor %}

                    var pointList = []
                    {% for route in routes %}
                        pointList.push(new L.LatLng({{route[0]}}, {{route[1]}}));
                    {% endfor %}
                    var firstpolyline = new L.Polyline(pointList, {
                        color: 'blue',
                        weight: 3,
                        opacity: 0.5,
                        smoothFactor: 1
                    });
                    firstpolyline.addTo(map);


                    (function () {
                        map.removeLayer(vehicle_layer);
                        vehicle_layer.clearLayers();

                        {% for i in range(times[0].time|length) %}
                            var date = new Date();
                            var timestamp = date.getTime();
                            var first_passing = new Date(date.getFullYear(), date.getMonth(), date.getDate(), {{ times[0].time[i][:2] }}, {{ times[0].time[i][3:5] }}, {{ times[0].time[i][6:] }});
                            {#first_passing = {{ time.time }};#}
                            var difference1_ms = (timestamp - first_passing.getTime());
                            var last_passing = new Date(date.getFullYear(), date.getMonth(), date.getDate(), {{ times[times|length-1].time[i][:2] }}, {{ times[times|length-1].time[i][3:5] }}, {{ times[times|length-1].time[i][6:] }});
                            {# If the vehicle hasn't passed the last stop: find out where it is#}
                            if (last_passing.getTime() - timestamp > 0) {
                                var difference2_ms = (last_passing.getTime() - first_passing.getTime());
                                var progress = (difference1_ms) / (difference2_ms);

                                {#    Vehicle is located at round({{ routes|length }}*progress) #}
                                var routelen = 0;
                                routelen = {{ routes|length }};
                                var index = Math.round(routelen * progress);
                                var route = [{{ times[0].lati }}, {{ times[0].longi }}];
                                var r_counter = 0;
                                {% for route in routes %}
                                    if (r_counter === index) {
                                        route = new L.LatLng({{route[0]}}, {{route[1]}});
                                        r_counter = r_counter + 1;
                                    }
                                    r_counter = r_counter + 1;
                                {% endfor %}
                                var vehicle_marker = L.marker(route, {'icon': vehicle_icon}).addTo(vehicle_layer);
                                vehicle_marker.bindPopup("<b>BEEPBEEP</b>");
                                map.addLayer(vehicle_layer);
                            }

                            setTimeout(arguments.callee, 5000);
                        {% endfor %}

                    })
                    ();

                </script>
            </div>
        </div>

    {% endif %}
{% endblock %}